<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastronomy</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="clases.html">clases</a>
        <a href="acerca.html">Acerca de</a>
        <a href="contacto.html">Contacto</a>
    </nav>

          <h2>Gastronomy</h2>
    <p>Gastronomy es un lugar donde podrás aprender sobre la comida
         y preparar las delicias que desees. Tendremos clases en las cuales
          podrás demostrar tu talento en la cocina,
         te explicaran el paso a paso de su preparación y el montaje.

    </p>



</body>
</html>