<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    
<nav>
        <a href="../index.html">Inicio</a>
        <a href="clases.html">clases</a>
        <a href="acerca.html">Acerca de</a>
       <a href="contacto.html">Contacto</a>
    </nav>

<H1>Horarios</H1>
<p>12:00 Sabados</p>
<p>2:00 Domingos</p>
<p>11:00 En semana </p>



</body>
</html>